<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Techno | Aprendizado sobre Vue" />
        <meta property="og:description" content="Aprendizado sobre Vue.js, Instância, Data, Methods e Diretivas" />
        <meta property="og:url" content="https://techno.guilhermeassuncao.dev" />
        <meta name="image" property="og:image" content="https://techno.guilhermeassuncao.dev/public/img/og-image.jpg" />
        <meta name="description" content="Aprendizado sobre Vue.js, Instância, Data, Methods e Diretivas" />

        <title>Techno | Aprendizado sobre Vue</title>

        <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700" rel="stylesheet" />

        <link rel="stylesheet" href="./public/css/style.css" />

        <script src="./public/js/vue.js"></script>
    </head>

    <body>
        <main id="app">
            <header class="header">
                <img class="header_logo" src="./public/img/techno.svg" alt="Techno" />
                <div class="header_carrinho_menu" @click="carrinhoAtivo = true">
                    {{carrinhoTotal | numeroPreco}} | {{carrinho.length}}
                </div>
            </header>

            <section class="produtos">
                <div
                    v-for="itemProduto in produtos"
                    :key="itemProduto.id"
                    @click="abrirModal(itemProduto.id)"
                    class="produto"
                >
                    <img :src="itemProduto.img" :alt="itemProduto.titulo" class="produto_img" />
                    <div class="produto_info">
                        <span class="produto_preco">{{itemProduto.preco | numeroPreco}}</span>
                        <h2 class="produto_nome">{{itemProduto.nome}}</h2>
                    </div>
                </div>
            </section>

            <section class="modal" v-if="produto" @click="fecharModal">
                <div class="modal_container">
                    <div class="modal_img">
                        <img :src="produto.img" :alt="produto.nome" />
                    </div>
                    <div class="modal_dados">
                        <button @click="produto = false" class="modal_fechar">X</button>
                        <span class="modal_preco">{{produto.preco | numeroPreco}}</span>
                        <h2 class="modal_titulo">{{produto.nome}}</h2>
                        <p>{{produto.descricao}}</p>
                        <button class="modal_btn" @click="adicionarCarrinho" v-if="produto.estoque > 0">
                            Adicionar Item
                        </button>
                        <button class="modal_btn esgotado" disabled v-else>Produto Esgotado</button>
                    </div>
                    <div class="modal_avaliacoes">
                        <h2 class="modal_avaliacoes_subtitulo">Avaliações</h2>
                        <div class="modal_avaliacao" v-for="avaliacao in produto.avaliacoes">
                            <p class="modal_avaliacao_descricao">{{avaliacao.descricao}}</p>
                            <p class="modal_avaliacao_usuario">{{avaliacao.nome}} | {{avaliacao.estrelas}} estrelas</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="carrinho_modal" :class="{ativo: carrinhoAtivo}" @click="fecharCarrinho">
                <div class="carrinho_container">
                    <button class="carrinho_fechar" @click="carrinhoAtivo = false">X</button>
                    <h2 class="carrinho_titulo">Carrinho</h2>
                    <div v-if="carrinho.length > 0">
                        <ul>
                            <li v-for="(itemCarrinho, index) in carrinho" class="carrinho_item">
                                <p>{{itemCarrinho.nome}}</p>
                                <p class="carrinho_preco">{{itemCarrinho.preco | numeroPreco}}</p>
                                <button class="carrinho_remover" @click="removerCarrinho(index)">X</button>
                            </li>
                        </ul>
                        <p class="carrinho_total">{{carrinhoTotal | numeroPreco}}</p>
                        <button class="carrinho_finalizar">Finalizar Comprar</button>
                    </div>
                    <p v-else>O carrinho está vazio</p>
                </div>
            </section>

            <div class="alerta" :class="{ativo: alertaAtivo}">
                <p class="alerta_mensagem">{{alertaMensagem}}</p>
            </div>
        </main>

        <script src="./public/js/app.js"></script>
    </body>
</html>
